<ion-view view-title="Login">
    <ion-content class="padding" style="background-color:salmon;">
        <div class="buffer" style="text-align:center;margin-top:160px">
            <h1 style="text-align:center; color:#fff;">Etsy Clone</h1>

            <button ng-click="emailLogin()" style="border-radius:50%;border:2px solid #fff;background-color:transparent;"><i class="ion-ios-email" style="font-size:50px;color:#fff;padding:6px 10px"></i></button>
        </div>

    </ion-content>
</ion-view>
